@media (min-width: 2000px) and (min-height: 1000px) {
  .head1::before {
    width: 10%;
    height: 11%;
    bottom: 62%;
    left: 63%;
  }

  .head1 {
    bottom: 0;
  }

  .third-section {
    width: 100%;
    height: 87vh;
    max-height: 100%;
    max-width: 100%;
  }

  .head1::before {
    position: absolute;
    content: "";
    z-index: 2;
    background: url(../images/eye_brow.svg) center/contain no-repeat;
    width: 9%;
    height: 13%;
    bottom: 62%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform-origin: bottom right 50px;
    animation: circle 2s infinite;
  }
}

@media (max-width: 1440px) and (max-height: 900px) {
  .first-section {
    height: 90vh;
  }

  .third-section {
    height: 67vh;
  }

  .fourth-section {
    height: 82vh;
  }
  .extra_schema {
    height: 49.5vh;
  }

  .progressbar2 {
    height: 17vh;
  }

  .part,
  .footer,
  .figure,
  .line,
  .progressbar {
    border-left: 6px solid black;
    border-right: 6px solid black;
  }

  .figure,
  .plusminrect,
  .electschemains,
  .electrcircins,
  .void_rectangle,
  .vans {
    border-bottom: 6px solid black;
  }

  .line,
  .zigzag,
  .electschemains,
  .electrcircins,
  .void_rectangle,
  .vans {
    border-top: 6px solid black;
  }

  .void_rectangle2 {
    border: 6px solid black;
  }

  .hse {
    position: absolute;
    background: url(../images/logo.svg) center/contain no-repeat;
    width: 24vw;
    height: 17vh;
    top: 20%;
    left: 74%;
  }
}

@media (max-width: 1440px) and (max-height: 780px) {
  .head1::before {
    position: absolute;
    content: "";
    z-index: 2;
    background: url(../images/eye_brow.svg) center/contain no-repeat;
    width: 10%;
    height: 13%;
    bottom: 62%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform-origin: bottom right 50px;
    animation: circle 2s infinite;
  }

  .third-section {
    height: 75vh;
  }

  .fourth-section {
    height: 85vh;
  }

  .extra_schema {
    background-image: url(../images/whit_tochki.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    right: 16%;
    width: 57vw;
    height: 56vh;
  }

  .figure3 {
    border-bottom: 6px solid black;
  }

  .line2 {
    border-top: 6px solid black;
  }
}

@media (max-width: 1440px) and (max-height: 690px) {
  .head1::before {
    position: absolute;
    content: "";
    z-index: 2;
    background: url(../images/eye_brow.svg) center/contain no-repeat;
    width: 8%;
    height: 13%;
    bottom: 62%;
    left: 59%;
    transform: translate(-50%, -50%);
    transform-origin: bottom right 50px;
    animation: circle 2s infinite;
  }

  .third-section {
    height: 87vh;
  }

  .fourth-section {
    height: 100vh;
  }

  .extra_schema {
    background-image: url(../images/whit_tochki.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    right: 16%;
    width: 58vw;
    height: 64.5vh;
  }
}
@media (max-width: 1370px) {
  .part,
  .footer,
  .figure,
  .line,
  .progressbar {
    border-left: 6px solid black;
    border-right: 6px solid black;
  }

  .figure,
  .plusminrect,
  .electschemains,
  .electrcircins,
  .void_rectangle,
  .vans {
    border-bottom: 6px solid black;
  }

  .line,
  .zigzag,
  .electschemains,
  .electrcircins,
  .void_rectangle,
  .vans {
    border-top: 6px solid black;
  }

  .void_rectangle2 {
    border: 6px solid black;
  }

  .head1::before {
    left: 61%;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  .third-section {
    height: 74vh;
  }
}

@media (max-width: 1024px) {
  .first-section {
    height: 75vh;
  }

  .third-section {
    height: 55vh;
  }

  .extra_schema {
    height: 41vh;
  }

  .head1::before {
    left: 63%;
    width: 10%;
    height: 14%;
    bottom: 62%;
    left: 63%;
  }

  .figure {
    border-bottom: 4px solid black;
  }

  .line {
    border-top: 4px solid black;
  }

  .plusminrect {
    border-bottom: 4px solid black;
  }

  .zigzag {
    border-top: 4px solid black;
  }

  .electrcircins {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  .electschemains {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  .footer {
    border-left: 4px solid black;
    border-right: 4px solid black;
  }

  .fourth-section {
    height: 83vh;
  }

  .hse {
    width: 26vw;
    height: 15vh;
    top: 20%;
    left: 72%;
  }

  .progressbar2 {
    height: 14vh;
  }

  .round_dash {
    top: -11%;
  }

  .part {
    /* border: 8px solid black; */
    border-left: 4px solid black;
    border-right: 4px solid black;
  }

  .vans {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  .void_rectangle {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  .void_rectangle2 {
    border: 4px solid black;
  }

  .figure3 {
    border-bottom: 4px solid black;
  }

  .line2 {
    border-top: 4px solid black;
  }

  .progressbar {
    border-left: 4px solid black;
    border-right: 4px solid black;
  }
}

@media (max-width: 770px) {
  .display-flex {
    flex-direction: row;
  }

  .anim_text {
    display: inline;
  }

  .anim_text2 {
    display: inline;
  }

  .head {
    border-bottom: 4px solid black;
  }

  .part {
    border-left: 4px solid black;
    border-right: 4px solid black;
  }

  .figure3 {
    border-bottom: 0;
    height: 100%;
    /* background: url(../images/dots_table.svg) center/cover no-repeat; */
  }

  .figure {
    border-bottom: 4px solid black;
    height: 100%;
    margin-bottom: 2%;
  }

  .plusminrect {
    border-bottom: 0;
    height: 100%;
    background: url(../images/dots_table.svg) center/cover no-repeat;
  }

  .fig {
    height: 2vh;
  }

  .equal_square,
  .equal_square2,
  .equal_square3 {
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .equal_square4 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .progress_group {
    animation: run_logo2 3s ease infinite;
  }

  .line,
  .line2 {
    border-top: 4px solid black;
    width: 100%;
    background-repeat: repeat-x;
    background-size: auto 100%;
    animation: run_logo 1s linear infinite;
  }

  .line2 {
    height: 24%;
  }

  .plusmininside {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 55%;
    width: 100vw;
    top: 25%;
  }

  .zigzag {
    border-top: 4px solid black;
    width: 100%;
    background-repeat: repeat-x;
    background-size: auto 100%;
    animation: run_logo 1s linear infinite;
    display: none;
  }

  .first-section {
    width: 100%;
    height: 41vh;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 13%;
  }

  .anim_text0 {
    top: 71%;
  }

  .second-section,
  .third-section {
    width: 100%;
    height: 30vh;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }

  .fourth-section {
    width: 100%;
    height: 41vh;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 16%;
  }

  .rightfig2 {
    height: 2vh;
  }

  .divider {
    width: 98vw;
    height: 2vh;
  }

  .progressbar {
    height: 10vh;
  }

  .progressbar2 {
    height: 9vh;
  }

  .extra_schema {
    height: 22vh;
  }

  .progress_group2 {
    width: 220%;
  }

  .addtablet {
    display: inline;
  }

  .divider2 {
    height: 2vh;
    display: inline;
  }

  .footer {
    height: 10vh;
    border-left: 4px solid black;
    border-right: 4px solid black;
  }

  .hse {
    width: 23vw;
    height: 7vh;
    top: 16%;
    left: 76%;
  }

  .fio {
    width: 17vw;
    height: 4vh;
    top: 55%;
    left: 2%;
  }
}

@media (max-width: 430px) {
  .first-section,
  .second-section {
    height: 100vh;
    margin-bottom: 0;
  }

  .fourth-section {
    height: 60vh;
    margin-bottom: 0;
  }

  .third-section {
    height: 37vh;
    margin-bottom: 0;
  }

  .display-flex {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .head,
  .figure,
  .buttonctrl,
  .figure2,
  .atom,
  .figure3 {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  .head1::before {
    width: 9%;
    height: 14%;
    bottom: 62%;
    left: 61%;
  }

  .anim_text0 {
    top: 75%;
    left: 20%;
  }

  .span0 {
    font-size: 5vw;
  }

  .figure3 {
    background: none;
  }

  .atom {
    background: none;
  }

  .stripe {
    height: 3vh;
  }

  .plusmininside {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 65%;
    width: 100vw;
    top: 20%;
  }

  .electrcirc {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  .electschema {
    display: none;
  }

  .fig {
    width: 12%;
    height: 2vh;
    font-size: 4vw;
  }

  .rightfig {
    width: 21%;
    height: 1.5vh;
    font-size: 4vw;
    left: 70%;
  }

  .figure,
  .plusminrect,
  .line2 {
    order: 1;
    margin-bottom: 0;
  }

  .line2 {
    height: 20%;
  }

  .progressbar2 {
    height: 10vh;
  }

  #order {
    order: 3;
  }

  .plusminrect {
    width: 100%;
  }

  .line {
    height: 30%;
    animation: run_logo 2s linear infinite;
  }

  .zigzag {
    height: 30%;
    animation: run_logo 2s linear infinite;
    display: inline;
  }

  .divider {
    height: 1vh;
  }

  .vans {
    top: 0;
    height: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .void_rectangle {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .void_rectangle2 {
    border: 2px solid black;
    height: 85%;
    width: 89%;
    top: 7.5%;
    left: 6%;
  }

  .anim_text {
    position: absolute;
    height: 12%;
    width: 32%;
    top: 39%;
    left: 4%;
  }

  .anim_text2 {
    height: 12%;
    width: 54%;
    top: 52%;
    left: 4%;
  }

  .span,
  .span2 {
    font-size: 4vw;
  }

  .rightfig3 {
    left: 68%;
    top: 9%;
    width: 23vw;
    height: 2.5vh;
    font-size: 4vw;
  }

  .cloud1 {
    top: 11%;
    height: 95%;
    width: 100%;
  }

  .divider2 {
    display: none;
  }

  .part {
    border: 2px solid black;
  }

  .progressbar {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  .footer {
    height: 10vh;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  .hse {
    width: 33vw;
    height: 7vh;
    top: 23%;
    left: 65%;
  }

  .round_dash {
    width: 6.5vw;
    top: -45%;
  }

  .fio {
    font-size: 4vw;
    width: 36vw;
    height: 4vh;
    top: 46%;
    left: 2%;
  }

  .divider1 {
    background-image: url(../images/divider.svg);
    width: 98vw;
    height: 2vh;
    /* margin-left: 2vw; */
    background-repeat: repeat-x;
    background-size: auto 100%;
    position: relative;
    animation-name: run_first;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline;
    &:hover {
      animation-direction: reverse;
    }
  }
}

@media (max-width: 370px) {
  .head1::before {
    width: 8%;
    height: 12%;
    bottom: 62%;
    left: 59%;
  }

  .stripe {
    height: 4vh;
  }

  .third-section {
    height: 45vh;
  }
}
