* {
  box-sizing: border-box;
}

html {
  background: #ffffff;
  display: block;
  position: relative;
  /* width: 1920px; */
}

body {
  padding: 0 1%;
  height: auto;
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  background: #ffffff;
}

/* первый section */

.part {
  border-left: 8px solid black;
  border-right: 8px solid black;
}

.first-section {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 2px solid red; убрать это свойство */
}

.head {
  position: relative;
  width: 53%;
  height: 100%;
  max-width: 53%;
  max-height: 100%;
  background: url(../images/stripes.svg) center/cover no-repeat;
}

.head1 {
  background: url(../images/person.svg) center/contain no-repeat;
  position: absolute;
  width: 83%;
  height: 93%;
  max-width: 100%;
  max-height: 100%;
  top: 54%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.head1::before {
  position: absolute;
  content: "";
  z-index: 2;
  background: url(../images/eye_brow.svg) center/contain no-repeat;
  width: 10%;
  height: 13%;
  bottom: 62%;
  left: 63%;
  transform: translate(-50%, -50%);
  transform-origin: bottom right 50px;
  animation: circle 2s infinite;
}

.figure {
  width: 45%;
  height: 76%;
  position: relative;
  border-bottom: 8px solid black;
  /* background: url(../images/cloud_all.svg) center/contain no-repeat; */
}

.cloud1 {
  background: url(../images/cloud_all.svg) center/contain no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  animation: moveCloud 2s linear infinite alternate;
}

.line {
  border-top: 8px solid black;
  width: 45%;
  height: 20%;
  background: url(../images/logo_run.svg) center/cover no-repeat;
  animation: run_logo 4s linear infinite;
}

.divider1 {
  background-image: url(../images/divider.svg);
  width: 98vw;
  height: 4vh;
  /* margin-left: 2vw; */
  background-repeat: repeat-x;
  background-size: auto 100%;
  position: relative;
  animation-name: run_first;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: none;
  &:hover {
    animation-direction: reverse;
  }
}

.divider2 {
  background-image: url(../images/divider.svg);
  width: 98vw;
  height: 4vh;
  /* margin-left: 2vw; */
  background-repeat: repeat-x;
  background-size: auto 100%;
  position: relative;
  animation-name: run_first;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: none;
  &:hover {
    animation-direction: reverse;
  }
}

/* надпись */
.fig {
  position: absolute;
  left: 86%;
  top: 4%;
  width: 11%;
  height: 4vh;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* надпись справа */
.rightfig {
  position: absolute;
  left: 65%;
  top: 4%;
  width: 28%;
  height: 4vh;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  vertical-align: middle;
}

.rightfig2 {
  position: absolute;
  left: 65%;
  top: 4%;
  width: 13vw;
  height: 4.5vh;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* разделитель */
.divider {
  background-image: url(../images/divider.svg);
  width: 100%;
  height: 4vh;
  background-repeat: repeat-x;
  background-size: auto 100%;
  position: relative;
  animation-name: run_first;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  &:hover {
    animation-direction: reverse;
  }
}

/* второй section */

.second-section {
  width: 100%;
  height: 75vh;
  max-height: 100%;
  max-width: 100%;
}

.buttonctrl {
  position: relative;
  width: 53%;
  height: 100%;
  max-width: 53%;
  max-height: 100%;
  background: url(../images/dots.svg) center/cover no-repeat;
}

.button_ctrlz {
  background: url(../images/ctrl_z_1.svg) center/contain no-repeat;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 90%;
  max-width: 100%;
  max-height: 100%;
  height: 50%;
  background-position: right;
}

.button_ctrlz:hover {
  top: 31%;
  left: 10%;
  width: 90%;
  max-width: 100%;
  max-height: 100%;
  height: 50%;
  background: url(../images/ctrl_z.svg) center/contain no-repeat;
  background-position: right;
}

.plusminrect {
  width: 45%;
  height: 76%;
  position: relative;
  border-bottom: 8px solid black;
  background: url(../images/dots2.svg) center/cover no-repeat;
}

.plusmininside {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  height: 80%;
  width: 100vw;
  top: 11%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
}

.equal_square {
  position: relative;
  width: 25%;
  height: 50%;
  border-right: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
.equal_square2 {
  position: relative;
  width: 25%;
  height: 50%;
  border-right: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
.equal_square3 {
  position: relative;
  width: 25%;
  height: 50%;
  border-right: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
.equal_square4 {
  position: relative;
  width: 25%;
  height: 50%;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.container {
  position: relative;
  bottom: 27%;
  left: 39%;
  height: 51%;
  width: 32%;
  max-width: 100vw;
  max-height: 100vh;
  background-position: center;
}

.black_round {
  background-image: url("../images/flex_black_round.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22%;
  animation: change_color_of_black 0.5s infinite;
}

.white_round {
  background-image: url("../images/flex_white_round.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22%;
  animation: change_color_of_white 0.5s infinite;
}

.plus {
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22%;
}

.minus {
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: left; */
  width: 22%;
  /* height: 51%; */
}

.anim_text0 {
  position: absolute;
  height: 9%;
  width: 70%;
  top: 77%;
  left: 24%;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  z-index: 4;
}

.span0 {
  width: 31ch;
  color: black;
  font-family: "Helvetica_bold";
  font-size: 2vw;
  animation: printed_text 6s infinite both;
}

.i1 {
  animation-delay: 0s;
}
.i2 {
  animation-delay: 0.2s;
}
.i3 {
  animation-delay: 0.4s;
}
.i4 {
  animation-delay: 0.6s;
}
.i5 {
  animation-delay: 0.8s;
}
.i6 {
  animation-delay: 1s;
}
.i7 {
  animation-delay: 1.2s;
}
.i8 {
  animation-delay: 1.4s;
}
.i9 {
  animation-delay: 1.6s;
}
.i10 {
  animation-delay: 1.8s;
}
.i11 {
  animation-delay: 2s;
}
.i12 {
  animation-delay: 2.2s;
}
.i13 {
  animation-delay: 2.4s;
}
.i14 {
  animation-delay: 2.6s;
}
.i15 {
  animation-delay: 2.8s;
}
.i16 {
  animation-delay: 3s;
}
.i17 {
  animation-delay: 3.2s;
}
.i18 {
  animation-delay: 3.4s;
}
.i19 {
  animation-delay: 3.6s;
}

.zigzag {
  border-top: 8px solid black;
  position: relative;
  width: 45%;
  height: 20%;
}

.stripe {
  background-image: url("../images/polosochka.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 47%;
  left: 0%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 28vh;
}

.round_dash {
  background-image: url("../images/round_with_dash.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -14%;
  left: 15%;
  width: 2.5vw;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  animation: move-zigzag-forward 5s infinite linear;
}

.round_dash:hover {
  animation-play-state: paused;
}

/* третий section */
.third-section {
  width: 100%;
  height: 75vh;
  max-height: 100%;
  max-width: 100%;
}

.electrcirc {
  position: relative;
  width: 53%;
  height: 100%;
  max-width: 53%;
  max-height: 100%;
  background: url(../images/mask_stripes_group.svg) center/cover no-repeat;
}

.electrcircins {
  background-color: white;
  position: relative;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  height: 76%;
  width: 100vw;
  top: 12%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  overflow: hidden;
}

.left_flex_schema {
  background-image: url(../images/schema.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 72%;
  height: 100%;
}

.container1 {
  position: relative;
  bottom: -12%;
  left: 59%;
  height: 29%;
  max-width: 100vw;
  max-height: 100vh;
  background-position: center;
  margin-bottom: 10%;
}

.circle_a {
  background-image: url("../images/a.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 14%;
  height: 17%;
}

.circle_b {
  background-image: url("../images/b.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 14%;
  height: 17%;
}

.circle_c {
  background-image: url("../images/c.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 14%;
  height: 17%;
}

.circle_a:hover,
.circle_b:hover,
.circle_c:hover {
  background-image: url("../images/withcross.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.right_flex_schema {
  background-image: url(../images/strelochki.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24%;
  height: 100%;
  overflow: hidden;
  animation: move_arrows 2s linear infinite alternate;
}

.container2 {
  position: relative;
  bottom: -11%;
  left: 36%;
  height: 29%;
  max-width: 100vw;
  max-height: 100vh;
  background-position: center;
  margin-bottom: 33%;
}

.circle_1 {
  background-image: url("../images/ellipse_anim_tocross.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 42%;
  height: 17%;
}

.circle_2 {
  background-image: url("../images/ellipse_anim_tocross.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 42%;
  height: 17%;
}

.circle_3 {
  background-image: url("../images/ellipse_anim_tocross.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 42%;
  height: 17%;
}

.circle_1:hover,
.circle_2:hover,
.circle_3:hover {
  background-image: url("../images/withcross.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.electschema {
  width: 45%;
  height: 100%;
  position: relative;
  background: url(../images/stripes_2.svg) center/cover no-repeat;
}

.electschemains {
  background-color: white;
  position: relative;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  height: 76%;
  width: 100vw;
  top: 12%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  /* display: flex; */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}

.extra_schema {
  background-image: url(../images/whit_tochki.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: 16%;
  width: 57vw;
  height: 56vh;
  animation: move_schema 3s linear infinite;
}

/* work in progress разделитель */
.progressbar {
  overflow: hidden;
  height: 22vh;
  border-left: 8px solid black;
  border-right: 8px solid black;
}

.progress_group {
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 220%;
  height: 100%;
}

.progress_group:hover {
  animation: run_logo2 3s ease infinite;
}

.hh {
  font-size: 4vw;
  font-family: "Helvetica_bold";
  color: black;
  /* text-transform: uppercase; */
  /* width: 90%; */
}

.progress_triangle {
  background: url(../images/triangle.svg) center/contain no-repeat;
  width: 13vw;
  height: 16vh;
}

/* четвертый section */
.fourth-section {
  width: 100%;
  height: 93vh;
  max-height: 100%;
  max-width: 100%;
}

/* верхний левый блок */
.atom {
  background: url(../images/grid.svg) center/cover no-repeat;
  position: relative;
  width: 53%;
  height: 100%;
  max-width: 53%;
  max-height: 100%;
}

.vans {
  background: url(../images/mask_squares_group.svg) center/cover no-repeat;
  position: relative;
  background-color: white;
  position: relative;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  height: 54%;
  width: 100vw;
  top: 22%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
}

.void_rectangle {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  position: relative;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  height: 87%;
  width: 100%;
  top: 7%;
  /* max-height: 100%;
  max-width: 100%; */
}

.left_connector,
.right_connector {
  background-image: url(../images/wire.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: relative; */
  width: 33%;
  height: 100%;
  /* display: inline-block; */
  /* max-height: 200%;
  max-width: 200%; */
}

.atom_circle {
  background-image: url(../images/circuls.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 44%;
  height: 100%;
  max-height: 100%;
  max-width: 40%;
  animation: circle_atom 3s linear infinite reverse;
}

.circle_with_cross {
  background-image: url(../images/circle_with_cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 29%;
  left: 37%;
  width: 28%;
  height: 40%;
  max-height: 100%;
  max-width: 100%;
}

.circle_with_cross:hover {
  background-image: url(../images/circle_with_cross_black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* верхний правый блок */
.figure3 {
  width: 45%;
  height: 76%;
  position: relative;
  border-bottom: 8px solid black;
  background: url(../images/squares_right.svg) center/cover no-repeat;
}

.void_rectangle2 {
  background-color: white;
  position: relative;
  border: 8px solid black;
  height: 91%;
  width: 92%;
  top: 4.5%;
  left: 4%;
  max-height: 100%;
  max-width: 100%;
}

.rightfig3 {
  position: absolute;
  left: 65%;
  top: 4%;
  width: 13vw;
  height: 4.5vh;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  vertical-align: middle;
}

.anim_text {
  position: absolute;
  height: 9%;
  width: 35%;
  top: 16%;
  left: 4%;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}

.anim_text2 {
  position: absolute;
  height: 9%;
  width: 70%;
  top: 25%;
  left: 4%;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}

.span {
  width: 31ch;
  color: black;
  font-family: "Helvetica_bold";
  font-size: 2vw;
  animation: printed_text 6s both;
}

.span2 {
  width: 31ch;
  color: black;
  font-family: "Helvetica_bold";
  font-size: 2vw;
  animation: printed_text 6s both;
}

.void_rectangle2:hover .anim_text {
  display: inline;
}

.void_rectangle2:hover .anim_text2 {
  display: inline;
}

.l1 {
  animation-delay: 0s;
}
.l2 {
  animation-delay: 0.2s;
}
.l3 {
  animation-delay: 0.4s;
}
.l4 {
  animation-delay: 0.6s;
}
.l5 {
  animation-delay: 0.8s;
}
.l6 {
  animation-delay: 1s;
}
.l7 {
  animation-delay: 1.2s;
}
.l8 {
  animation-delay: 1.4s;
}
.l9 {
  animation-delay: 1.6s;
}
.l10 {
  animation-delay: 1.8s;
}
.l11 {
  animation-delay: 2s;
}
.l12 {
  animation-delay: 2.2s;
}
.l13 {
  animation-delay: 2.4s;
}
.l14 {
  animation-delay: 2.6s;
}
.l15 {
  animation-delay: 2.8s;
}
.l16 {
  animation-delay: 3s;
}
.l17 {
  animation-delay: 3.2s;
}
.l18 {
  animation-delay: 3.4s;
}
.l19 {
  animation-delay: 3.6s;
}

.r1 {
  animation-delay: 3.8s;
}
.r2 {
  animation-delay: 4s;
}
.r3 {
  animation-delay: 4.2s;
}
.r4 {
  animation-delay: 4.4s;
}
.r5 {
  animation-delay: 4.6s;
}
.r6 {
  animation-delay: 4.8s;
}
.r7 {
  animation-delay: 5s;
}
.r8 {
  animation-delay: 5.2s;
}
.r9 {
  animation-delay: 5.4s;
}
.r10 {
  animation-delay: 5.6s;
}
.r11 {
  animation-delay: 5.8s;
}
.r12 {
  animation-delay: 6s;
}
.r13 {
  animation-delay: 6.2s;
}
.r14 {
  animation-delay: 6.4s;
}
.r15 {
  animation-delay: 6.6s;
}
.r16 {
  animation-delay: 6.8s;
}
.r17 {
  animation-delay: 7s;
}
.r18 {
  animation-delay: 7.2s;
}
.r19 {
  animation-delay: 7.4s;
}
.r20 {
  animation-delay: 7.8s;
}
.r21 {
  animation-delay: 8s;
}

/* нижний правый блок */
.figure2 {
  width: 45%;
  height: 76%;
  position: relative;
  border-bottom: 8px solid black;
  /* background: url(../images/cloud_all.svg) center/contain no-repeat; */
}

.line2 {
  border-top: 8px solid black;
  width: 45%;
  height: 20%;
}

.progressbar2 {
  overflow: hidden;
  height: 18vh;
}

.progress_group2 {
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 110vw;
  height: 100%;
  animation: run_logo3 3s linear infinite;
}

.hh2 {
  font-size: 5vw;
  font-family: "Helvetica_bold";
  color: black;
  width: 90%;
}

.addtablet {
  display: none;
}

/* футер */

.footer {
  height: 22vh;
  border-left: 8px solid black;
  border-right: 8px solid black;
  position: relative;
}

.fio {
  position: absolute;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  width: 17vw;
  height: 8vh;
  top: 52%;
  left: 2%;
}

.hse {
  position: absolute;
  background: url(../images/logo.svg) center/contain no-repeat;
  width: 22vw;
  height: 17vh;
  top: 20%;
  left: 76%;
}
