* {
  box-sizing: border-box;
}

html {
  background: #ffffff;
  display: block;
  position: relative;
  /* width: 1920px; */
}

body {
  padding: 0 1%; /* белая граница по бокам */
  height: auto;
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  background: #ffffff;
}

/* первый section */

.part {
  /* border: 8px solid black; */
  border-left: 8px solid black;
  border-right: 8px solid black;
}

.first-section {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  /* margin-bottom: 170px; убрать это свойство */
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 2px solid red; убрать это свойство */
}

.head {
  position: relative;
  width: 53%;
  height: 100%;
  max-width: 53%;
  max-height: 100%;
  background: url(../images/stripes.svg) center/cover no-repeat;
}

.head1 {
  background: url(../images/person.svg) center/contain no-repeat;
  position: absolute;
  width: 83%;
  height: 93%;
  max-width: 100%;
  max-height: 100%;
  top: 54%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.head1::before {
  /* бровь, нужно поправить анимацию, т.к. при анимации съезжает в сторону */
  position: absolute;
  content: "";
  z-index: 2;
  background: url(../images/eye_brow.svg) center/contain no-repeat;
  width: 9%;
  height: 13%;
  bottom: 62%;
  left: 65%;
  transform: translate(-50%, -50%);
  transform-origin: bottom right 50px;
  animation: circle 2s infinite;
}

.figure {
  width: 45%;
  height: 76%;
  position: relative;
  border-bottom: 8px solid black;
  /* background: url(../images/cloud_all.svg) center/contain no-repeat; */
}

.cloud1 {
  background: url(../images/cloud_all.svg) center/contain no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  animation: moveCloud 2s linear infinite alternate;
}

.line {
  border-top: 8px solid black;
  width: 45%;
  height: 20%;
  background: url(../images/logo_run.svg) center/cover no-repeat;
  animation: run_logo 4s linear infinite;
}

.divider1 {
  background-image: url(../images/divider.svg);
  width: 98vw;
  height: 4vh;
  /* margin-left: 2vw; */
  background-repeat: repeat-x;
  background-size: auto 100%;
  position: relative;
  animation-name: run_first;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: none;
  &:hover {
    animation-direction: reverse;
  }
}

.divider2 {
  background-image: url(../images/divider.svg);
  width: 98vw;
  height: 4vh;
  /* margin-left: 2vw; */
  background-repeat: repeat-x;
  background-size: auto 100%;
  position: relative;
  animation-name: run_first;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: none;
  &:hover {
    animation-direction: reverse;
  }
}

/* надпись */
.fig {
  position: absolute;
  left: 86%;
  top: 4%;
  width: 11%;
  height: 4vh;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* надпись справа */
.rightfig {
  position: absolute;
  left: 65%;
  top: 4%;
  width: 28%;
  height: 4vh;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  vertical-align: middle;
}

.rightfig2 {
  position: absolute;
  left: 65%;
  top: 4%;
  width: 13vw;
  height: 4.5vh;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* разделитель */
.divider {
  background-image: url(../images/divider.svg);
  width: 100%;
  height: 4vh;
  background-repeat: repeat-x;
  background-size: auto 100%;
  position: relative;
  animation-name: run_first;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  &:hover {
    animation-direction: reverse;
  }
}

/* второй section */

.second-section {
  width: 100%;
  height: 75vh;
  max-height: 100%;
  max-width: 100%;
  /* margin-bottom: 170px; убрать это свойство */
}

.buttonctrl {
  position: relative;
  width: 53%;
  height: 100%;
  max-width: 53%;
  max-height: 100%;
  background: url(../images/dots.svg) center/cover no-repeat;
}

.button_ctrlz {
  background: url(../images/ctrl_z_1.svg) center/contain no-repeat;
  position: absolute;
  top: 31%;
  left: 10%;
  width: 90%;
  max-width: 100%;
  max-height: 100%;
  height: 50%;
  background-position: right;
}

.button_ctrlz:hover {
  top: 31%;
  left: 10%;
  width: 90%;
  max-width: 100%;
  max-height: 100%;
  height: 50%;
  background: url(../images/ctrl_z.svg) center/contain no-repeat;
}

.plusminrect {
  width: 45%;
  height: 76%;
  position: relative;
  border-bottom: 8px solid black;
  background: url(../images/dots2.svg) center/cover no-repeat;
}

.plusmininside {
  /* background: url(../images/cloud_all.svg) center/contain no-repeat; */
  background-color: white;
  position: relative;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  height: 80%;
  width: 100vw;
  top: 11%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  /* animation: moveCloud 2s linear infinite alternate; */
}

.zigzag {
  border-top: 8px solid black;
  position: relative;
  width: 45%;
  height: 20%;
  animation: run_logo 4s linear infinite;
}

/* третий section */
.third-section {
  width: 100%;
  height: 75vh;
  max-height: 100%;
  max-width: 100%;
  /* margin-bottom: 170px; убрать это свойство */
}

.electrcirc {
  position: relative;
  width: 53%;
  height: 100%;
  max-width: 53%;
  max-height: 100%;
  background: url(../images/mask_stripes_group.svg) center/cover no-repeat;
}

.electrcircins {
  background-color: white;
  position: relative;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  height: 76%;
  width: 100vw;
  top: 12%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
}

.electschema {
  width: 45%;
  height: 100%;
  position: relative;
  background: url(../images/stripes_2.svg) center/cover no-repeat;
}

.electschemains {
  background-color: white;
  position: relative;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  height: 76%;
  width: 100vw;
  top: 12%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
}

/* work in progress разделитель */

.progressbar {
  overflow: hidden;
  height: 22vh;
  border-left: 8px solid black;
  border-right: 8px solid black;
}

.progress_group {
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 220%;
  height: 100%;
}

.progress_group:hover {
  animation: run_logo2 3s ease infinite;
}

.hh {
  font-size: 4vw;
  font-family: "Helvetica_bold";
  color: black;
  /* text-transform: uppercase; */
  /* width: 90%; */
}

.progress_triangle {
  background: url(../images/triangle.svg) center/contain no-repeat;
  width: 13vw;
  height: 16vh;
}

/* четвертый section */
.fourth-section {
  width: 100%;
  height: 93vh;
  max-height: 100%;
  max-width: 100%;
  /* margin-bottom: 170px; убрать это свойство */
}

/* верхний левый блок */
.atom {
  background: url(../images/grid.svg) center/cover no-repeat;
  position: relative;
  width: 53%;
  height: 100%;
  max-width: 53%;
  max-height: 100%;
}

.vans {
  background: url(../images/mask_squares_group.svg) center/cover no-repeat;
  position: relative;
  background-color: white;
  position: relative;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  height: 54%;
  width: 100vw;
  top: 22%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
}

.void_rectangle {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  position: relative;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  height: 87%;
  width: 100%;
  top: 7%;
  /* max-height: 100%;
  max-width: 100%; */
}

.left_stripe, .right_stripe {
  background-image: url(../images/wire.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: relative; */
  width: 33%;
  height: 100%;
  /* display: inline-block; */
  /* max-height: 200%;
  max-width: 200%; */
}

.atom_circle {
  background-image: url(../images/circuls.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 44%;
  height: 100%;
  max-height: 100%;
  max-width: 40%;
  animation: circle_atom 3s linear infinite reverse;

}

/* верхний правый блок */
.figure3 {
  width: 45%;
  height: 76%;
  position: relative;
  border-bottom: 8px solid black;
  background: url(../images/squares_right.svg) center/cover no-repeat;
}

.void_rectangle2 {
  background-color: white;
  position: relative;
  border: 8px solid black;
  height: 91%;
  width: 92%;
  top: 4.5%;
  left: 4%;
  max-height: 100%;
  max-width: 100%;
}

.rightfig3 {
  position: absolute;
  left: 65%;
  top: 4%;
  width: 13vw;
  height: 4.5vh;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  vertical-align: middle;
}

.anim_text {
  position: absolute;
  height: 7%;
  width: 32%;
  top: 16%;
  left: 4%;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  display: none;
  /* transform: translate(-50%, -50%); */
}

.anim_text2 {
  position: absolute;
  height: 7%;
  width: 70%;
  top: 25%;
  left: 4%;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  display: none;
  /* transform: translate(-50%, -50%); */
}

.span {
  width: 31ch;
  color: black;
  font-family: "Helvetica_bold";
  font-size: 2vw;
  animation: printed_text 6s both;
}

.span2 {
  width: 31ch;
  color: black;
  font-family: "Helvetica_bold";
  font-size: 2vw;
  animation: printed_text 6s both;
}

.void_rectangle2:hover .anim_text {
  display: inline;
}

.void_rectangle2:hover .anim_text2 {
  display: inline;
}

.l1 {
  animation-delay: 0s;
}
.l2 {
  animation-delay: 0.2s;
}
.l3 {
  animation-delay: 0.4s;
}
.l4 {
  animation-delay: 0.6s;
}
.l5 {
  animation-delay: 0.8s;
}
.l6 {
  animation-delay: 1s;
}
.l7 {
  animation-delay: 1.2s;
}
.l8 {
  animation-delay: 1.4s;
}
.l9 {
  animation-delay: 1.6s;
}
.l10 {
  animation-delay: 1.8s;
}
.l11 {
  animation-delay: 2s;
}
.l12 {
  animation-delay: 2.2s;
}
.l13 {
  animation-delay: 2.4s;
}
.l14 {
  animation-delay: 2.6s;
}
.l15 {
  animation-delay: 2.8s;
}
.l16 {
  animation-delay: 3s;
}
.l17 {
  animation-delay: 3.2s;
}
.l18 {
  animation-delay: 3.4s;
}
.l19 {
  animation-delay: 3.6s;
}

.r1 {
  animation-delay: 3.8s;
}
.r2 {
  animation-delay: 4s;
}
.r3 {
  animation-delay: 4.2s;
}
.r4 {
  animation-delay: 4.4s;
}
.r5 {
  animation-delay: 4.6s;
}
.r6 {
  animation-delay: 4.8s;
}
.r7 {
  animation-delay: 5s;
}
.r8 {
  animation-delay: 5.2s;
}
.r9 {
  animation-delay: 5.4s;
}
.r10 {
  animation-delay: 5.6s;
}
.r11 {
  animation-delay: 5.8s;
}
.r12 {
  animation-delay: 6s;
}
.r13 {
  animation-delay: 6.2s;
}
.r14 {
  animation-delay: 6.4s;
}
.r15 {
  animation-delay: 6.6s;
}
.r16 {
  animation-delay: 6.8s;
}
.r17 {
  animation-delay: 7s;
}
.r18 {
  animation-delay: 7.2s;
}
.r19 {
  animation-delay: 7.4s;
}
.r20 {
  animation-delay: 7.8s;
}
.r21 {
  animation-delay: 8s;
}

/* нижний правый блок */
.figure2 {
  width: 45%;
  height: 76%;
  position: relative;
  border-bottom: 8px solid black;
  /* background: url(../images/cloud_all.svg) center/contain no-repeat; */
}

.line2 {
  border-top: 8px solid black;
  width: 45%;
  height: 20%;
}

.progressbar2 {
  overflow: hidden;
  height: 18vh;
}

.progress_group2 {
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 110vw;
  height: 100%;
  animation: run_logo3 3s linear infinite;
}

.hh2 {
  font-size: 5vw;
  font-family: "Helvetica_bold";
  color: black;
  width: 90%;
}

.addtablet {
  display: none;
}

/* футер */

.footer {
  height: 22vh;
  border-left: 8px solid black;
  border-right: 8px solid black;
  position: relative;
}

.fio {
  position: absolute;
  font-size: 2vw;
  font-family: "Helvetica_bold";
  color: black;
  width: 17vw;
  height: 8vh;
  top: 52%;
  left: 2%;
}

.hse {
  position: absolute;
  background: url(../images/logo.svg) center/cover no-repeat;
  width: 22vw;
  height: 15vh;
  top: 20%;
  left: 76%;
}

/* ----------------------------------------------------- */

/* квадратик с плюсами и минусами */
.fifth_rectangle {
  background-image: url("../images/dots2.svg");
  border-style: solid;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex: 1;
  margin-bottom: 4vh;
  border-color: #000000;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-right-width: 6px;
}

.white_background {
  background-image: url("../images/white_background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 52.5%;
  left: 50%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 72%;
  transform: translate(-50%, -50%);
}

.flex_symbols {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.flex_horizontal {
  position: absolute;
  left: 9%;
  top: 17%;
  display: flex;
  height: 65%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  justify-content: space-between;
}

.container {
  height: 26%;
  width: 32%;
  max-width: 100vw;
  max-height: 100vh;
  background-position: center;
}

.black_round {
  background-image: url("../images/flex_black_round.svg");
  background-repeat: no-repeat;
  animation: change_color_of_black 0.5s infinite;
}

.white_round {
  background-image: url("../images/flex_white_round.svg");
  background-repeat: no-repeat;
  animation: change_color_of_white 0.5s infinite;
}

.plus {
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
}

.minus {
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  /* background-position: left; */
  width: 32%;
  height: 11%;
}

.sixth_rectangle {
  border-style: solid;
  /* width: 100%; */
  height: 16%;
  position: relative;
  /* flex: 1; */
  border-color: #000000;
  padding: 1vw;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 6px;
}

.stripe {
  background-image: url("../images/polosochka.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 47%;
  left: 0%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 28vh;
}

.round_dash {
  background-image: url("../images/round_with_dash.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -13%;
  left: 15%;
  width: 6%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  animation: move-zigzag-forward 4s infinite linear;
}

.round_dash:hover {
  animation-play-state: paused;
}

.third {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left_block2 {
  /* flex: 0 0 60vw; Ширина блока равна 60% от ширины окна просмотра */
  /* min-width: 52%; */
  margin-right: 2vw;
  margin-left: 2vw;
  flex: 2;
  height: 100%;
}

/* обернула в div и вид колонки */
.right_block2 {
  min-width: 40%;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  /* flex: 0 0 38vw; Ширина блоков равна 38% от ширины окна просмотра */
  justify-content: space-between; /* Распределение блоков с вертикальным отступом */
  flex: 1;
  /* height: 98vh; */
}

.seventh_rectangle {
  background-image: url("../images/stripes.svg");
  background-repeat: no-repeat;
  border-style: solid;
  background-size: cover;
  min-width: 40%;
  min-height: 100%;
  position: relative;
  flex: 1;
  border-color: #000000;
  border-left-width: 8px;
  border-right-width: 8px;
}

.eigth_rectangle {
  background-image: url("../images/stripes_right.svg");
  border-style: solid;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex: 1;
  border-color: #000000;
  border-left-width: 6px;
  border-right-width: 6px;
}

/* квадратик с человечком */
/* .first_rectangle {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: solid;
  min-width: 40%;
  min-height: 100%;
  position: relative;
  /* порядок flexbox 1 */
/* order: 1; 
  border-color: #000000;
  border-left-width: 6px;
  border-right-width: 6px;
  flex: 1;
} */

/* человечек */
/* .person {
  /* background-image: url("../images/person.svg");
  position: absolute;
  top: 52%;
  left: 50%;
  max-width: 100%;
  max-height: 97%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-repeat: no-repeat;
  order: 1;
} */

/* глазик */
/* .circle {
  background-image: url("../images/circle.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 8%;
  height: 8%;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
} */

/* бровь */
/* .eyebrow {
  position: absolute;
  content: url("../images/eye_brow.svg");
  max-height: 100%;
  max-width: 100%;
  top: -60%;
  left: -35%;
  transform-origin: bottom right 60px;
  animation-name: circle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */

/* квадратик с облаком */
/* .second_rectangle {
  border-style: solid;
  /* width: 40%; */
/* height: 766px; */
/* height: 75%;
  position: relative;
  flex: 1;
  margin-bottom: 4vh;
  border-color: #000000;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-right-width: 6px;
} */

/* .cloud {
  /* background-image: url(../images/cloud_all.svg);
  position: absolute;
  top: 9%;
  left: 1%;
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
  animation: moveCloud 2s linear infinite alternate;
} */

/* квадратик с бегущим лого */
/* .third_rectangle {
  border-style: solid;
  height: 15%;
  position: relative;
  border-color: #000000;
  padding: 1vw;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 6px;
} */

/* .ctrlz {
  background-image: url("../images/logo_run.svg");
  height: 16vh;
  max-width: 100%;
  margin-top: 0;
  overflow: hidden;
  animation: run_logo 4s linear infinite;
} */

/* 2 секшн */
/* .second {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* 4 квадратик */
/* .fourth_rectangle {
  background-image: url("../images/dots.svg");
  background-repeat: no-repeat;
  border-style: solid;
  background-size: cover;
  min-width: 40%;
  min-height: 100%;
  position: relative;
  flex: 1;
  border-color: #000000;
  border-left-width: 8px;
  border-right-width: 8px;
} */
